{% extends 'home/base.html' %}
{% load static %}
  {% block content %}
  <div class="intro" style="background-image: url({% static 'home/img/home_intro.jpg' %})">
    <h1 class="main-title">Accueil de loisirs de Monflanquin</h1>
  </div>
  <section id="info">
    <div class="s-icon">
      <i class="fas fa-info fa-2x"></i>
    </div>
    <h1 class="section-title">Informations</h1>
    <hr class="separator">
    {% include 'home/info.html' %}
  </section>
  <section id="agenda">
    <div class="s-icon">
      <i class="far fa-calendar-alt fa-2x"></i>
    </div>
    <h1 class="section-title">Agenda</h1>
    <hr class="separator">
    {% include 'home/agenda.html' %}
  </section>
  <section id="documents">
    <div class="s-icon">
      <i class="fas fa-file-alt fa-2x"></i>
    </div>
    <h1 class="section-title">Documents</h1>
    <hr class="separator">
    {% include 'home/documents.html' %}
  </section>
  <section id="contact">
    <div class="s-icon">
      <i class="fas fa-phone fa-2x"></i>
    </div>
    <h1 class="section-title">Nous contacter</h1>
    <hr class="separator">
    {% include 'home/contact.html' %}
  </section>
  {% endblock %}
