@charset "UTF-8";

:root {
  --lightblue: #c5dcea;
  --blue: #79a7c5;
  --darkblue: #285a7b;
  --red: #b6491b;
  --green: #c6e293;
  --orange: #e09b31;
  --darkorange: #c5821c;
  --yellow: #f3e9ad;
  --lightgrey: #ececec;
  --darkgrey: #414141;
  --warning: #e26908;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: calc(10px + 0.5vw);
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

html, body {
  height:100%;
}

header {
  padding: 0 1em 0 1em;
  margin: 0;
  position: absolute;
  top: 3em;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
}

.sticky {
  position: fixed;
  background-color: white;
  border-bottom: 2px solid grey;
  top: 0;
  width: 100%
}

#logo {
  display: inline-block;
  font-size: 2em;
  color: var(--darkgrey);
}

.topnav {
  overflow: hidden;
}

.topnav a {
  display: inline-block;
  text-align: center;
  padding: 1em 0.5em;
  text-decoration: none;
  color: grey;
  font-size: 1em;
  margin: 0;
}

.topnav .h-icon {
  display: none;
  color: var(--blue);
  padding-top: 2em;
}

.dropdown {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: grey;
  margin: 0;
  padding: 1em 0 0 0;
  overflow: hidden;
  float: right;
}

.dropbtn {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: var(--darkgrey);
  font-size: 1em;
  margin: 0;
  padding: 0 1em;
}

.dropbtn span{
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: rgba(255, 255, 255, 0.7);
  min-width: 10em;
  z-index: 1;
  margin-top: 1.2em;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 0.5em;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  color: var(--blue);
}

.dropdown-content a:hover {
  background-color: var(--blue);
  color: black;
}

.show {
  display: block;
}

.hidden {
  display: none !important;
}

.s-icon {
  padding-top: 2em;
}

.main-title {
  margin-top: 3em;
}

.section-title {
  margin: 0 auto;
  padding: 0.5em;
  font-size: 2em;
}

.separator {
  border: 2px solid var(--red);
  width: 3em;
  margin: 2em auto;
}

.intro {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 50em;
  margin: 0;
  text-align: center;
  padding-top: 10em;
  color: white;
}

.bg-fixed {
  padding-top: 2em;
  text-align: center;
  color: white;
}

.bg-fixed::before {
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url('/static/registration/img/bg_fixed_1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
}

.msg-box {
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--warning);
  padding: 0.5em;
}

.form-box {
  width: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 2em auto;
  padding: 0.5em;
  border: 1px solid grey;
  border-radius: 10px;
  color: var(--darkgrey);
  text-align: center;
}

.top-offset {
  margin-top: 5em;
}

.form-label {
  padding: 1em 0 0.5em 0;
  font-weight: bold;
}

.form-help {
  font-size: 0.7em;
  padding: 0 4rem;
}

.form-field input{
  background-color: white;
  border: 1px solid grey;
  border-radius: 10px;
  line-height: 2em;
  padding: : 0 0 1em 0;
}

.form-button {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid var(--darkgrey);
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  margin: 1.5em 1em 0.5em 1em;
  padding: 0.5em;
  color: inherit;
  font-weight: bold;
  font-size: 1em;
}

.form-button:hover {
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid var(--blue);
  color: var(--blue);
}

.form-button:active {
  background-color: white;
  border: 2px solid var(--darkblue);
  color: var(--darkblue);
}

.form-button:disabled {
  border: 2px solid lightgrey;
  color: lightgrey;
}

.form-box a {
  text-decoration: underline;
  font-weight: bolder;
  color: inherit;
}

.form-box a:hover {
  color: var(--blue);
}

.radio-select {
  list-style-type: none;
  text-align: left;
  margin: 0 20%;
  font-weight: bold;
}

.checkbox-box {
  text-align: left;
  padding: 0 1em;
}

.checkbox-box .line {
  padding: 0.5em 0;
}

.text-small {
  font-size: 0.8em;
}

.text-warning {
  font-weight: bold;
  color: var(--red);
}

.inline {
  display: inline-block;
}

.block {
  display: block;
}

.bg-lightblue {
  background-color: var(--lightblue);
}

.bg-lightgrey {
  background-color: var(--lightgrey);
}

.box-1 {
  padding: 1em;
  margin: 1em;
}

.box-row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

section {
  text-align: center;
}

section a {
  text-decoration: none;
  font-weight: bold;
  color: var(--darkblue);
}

section a:hover {
  color: var(--blue);
}

.inner-section {
  padding: 1em;
}

.inner-section h2 {
  padding: 0.5em;
}

#info, #registration {
  background-color: var(--lightgrey);
}

#agenda .categories {
  display: inline-block;
}

#agenda .categories p {
  margin: 0;
}

#agenda .categories button {
  margin: 0 1em 2em 1em;
}

#agenda .container h3{
  font-style: italic;
}

#agenda .card-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

#agenda .card {
  width: 8em;
  border-radius: 10px 10px 0 0;
  margin: 0.2em;
  display: flex;
  flex-direction: column;
}

#agenda .card h4 {
  border-radius: 10px 10px 0 0;
  background-color: var(--orange);
  margin: 0;
  padding: 1em 0;
}

#agenda .card .inner-card {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(var(--lightblue), var(--darkblue));
  flex-grow: 1;
  flex-shrink: 0;
}

#agenda .card .card-center {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0.5em;
  font-weight: bold;
}

#registration h3 {
  margin: 2em 0;
}

.not-dotted {
  list-style-type: none;
  padding: 0;
}

#registration li {
  padding: 0.5em;
}

#prices {
  margin: 0 auto;
  text-align: center;
  border-spacing: 0.4em 0.1em;
}

#prices th {
  padding: 0.5em;
  background-color: var(--darkblue);
  color: white;
  border-radius: 10px 10px 0 0;
}

#prices td {
  padding: 0.5em;
  background-color: var(--blue);
}

.banner-img {
  width: 100%;
}

.info-box {
  padding: 1em;
}

.info-box h2 {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.info-box table td {
  text-align: left;
  padding: 0.5em
}

.options-box {
  margin-bottom: 1em;
  padding: 1em;
}

.option {
  border-radius: 10px;
  border: 1px solid grey;
  background-color: var(--lightblue);
  padding: 1em;
  margin: 1em;
}

.option h4 {
  margin: 0;
  padding: 0.5em;
}

.calendar {

}

.calendar h2 {
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.calendar h2:hover {
  color: var(--blue);
}

.calendar .months {
  margin: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.calendar .months .month {
  display: none;
  padding: 0.5em;
  margin: 0.5em;
  background-image: linear-gradient(var(--orange), var(--darkorange));;
  border-radius: 10px;
}

.calendar .months .month h3 {
  margin: 0;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.5em;
  border-radius: 10px 10px 0 0;
}

.calendar .months .month .weekdays {
  display: flex;
  justify-content: center;
}

.calendar .months .month .weekdays .weekday {
  text-align: center;
  width: 4em;
}

.calendar .months .month .weekdays .weekday h4 {
  margin: 0;
  padding: 0.5em;
  border-bottom: 1px solid white;
}

.calendar .months .month .weekdays .weekday .day-box {
  height: 4em;
  margin: 0.2em;
  padding-top: 0.7em;
}

.calendar .months .month .weekdays .weekday .day {
  cursor: pointer;
  color: var(--darkgrey);
  border: none;
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  margin: 0 auto;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
}

.calendar .months .month .weekdays .weekday .day:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: black;
  font-weight: bolder;
}
.calendar .months .month .weekdays .weekday .day:disabled {
  color: lightgrey;
}


.full-day {
  border: 2px solid white !important;
}

.half-day {
  border: 2px dashed white !important;
}

footer {
  text-align: center;
  background-color: lightgrey;
  padding: 1em;
  border-top: 2px solid grey;
  color: white;
}

footer a {
  text-decoration: none;
  color: grey;
  padding: 1em;
}

/* Responsive */

@media screen and (max-width: 900px) {
  .topnav a, .dropdown .dropbtn {
    display: none;
  }
  .topnav a.h-icon {
    float: right;
    display: block;
  }
  .intro {
    height: 40em;
  }
}

@media screen and (max-width: 900px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .h-icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {
    float: none;
    margin: 0;
    padding: 1em 0.5em;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
    background-color: transparent;
    padding: 0;
    margin: 0;
  }
.topnav.responsive .dropdown-content a{
  padding: 1em 1em;
  }

  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
    margin: 0;
    padding: 0;
  }
  .topnav.responsive .dropdown .dropbtn i {
    display: none;
  }
  .topnav.responsive .dropdown .dropbtn span {
    text-align: left;
    color: grey;
    font-size: 1em;
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 500px) {
  header {
    top: 0;
  }
  .intro {
    height: 30em;
    margin-top: 7em;
    padding-top: 0.8em;
  }
  .form-box {
    width: 100%;
    border-radius: 0;
    border-right: none;
    border-left: none;
  }
  .top-offset {
    margin-top: 3em;
  }
  .banner-img {
    margin-top: 7em;
  }

}
