@charset "UTF-8";

:root {
  --light-blue: #79a7c5;
  --dark-blue: #285a7b;
  --red: #b6491b;
  --green: #c6e293;
  --dark-grey: #414141;
  --warning: #e26908;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: calc(10px + 0.5vw);
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

html, body {
  height:100%;
}

header {
  padding: 0 1em 0 1em;
  margin: 0;
  position: absolute;
  top: 3em;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
}

.sticky {
  position: fixed;
  background-color: white;
  border-bottom: 2px solid grey;
  top: 0;
  width: 100%
}

#logo {
  display: inline-block;
  font-size: 2em;
  color: var(--dark-grey);
}

.topnav {
  overflow: hidden;
}

.topnav a {
  display: inline-block;
  text-align: center;
  padding: 1em 0.5em;
  text-decoration: none;
  color: grey;
  font-size: 1em;
  margin: 0;
}

.topnav .h-icon {
  display: none;
  color: var(--light-blue);
  padding-top: 2em;
}

.dropdown {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: grey;
  margin: 0;
  padding: 1em 0 0 0;
  overflow: hidden;
  float: right;
}

.dropbtn {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: var(--dark-grey);
  font-size: 1em;
  margin: 0;
  padding: 0 1em;
}

.dropbtn span{
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: rgba(255, 255, 255, 0.7);
  min-width: 10em;
  z-index: 1;
  margin-top: 1.2em;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 0.5em;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  color: var(--light-blue);
}

.dropdown-content a:hover {
  background-color: var(--light-blue);
  color: black;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.s-icon {
  padding-top: 2em;
}

.main-title {
  margin-top: 3em;
}

.section-title {
  margin: 0 auto;
  padding: 0.5em;
  font-size: 2em;
}

.separator {
  border: 2px solid var(--red);
  width: 3em;
  margin: 2em auto;
}

.intro {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 50em;
  margin: 0;
  text-align: center;
  padding-top: 10em;
  color: white;
}

.bg-fixed {
  padding-top: 2em;
  text-align: center;
  color: white;
}

.bg-fixed::before {
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url('/static/registration/img/bg_fixed_1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
}

.form-box {
  width: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 2em auto;
  padding: 0.5em;
  border: 1px solid grey;
  border-radius: 10px;
  color: var(--dark-grey);
  text-align: center;
}

.top-offset {
  margin-top: 5em;
}

.form-label {
  padding: 1em 0 0.5em 0;
  font-weight: bold;
}

.form-help {
  font-size: 0.7em;
  padding: 0 4rem;
}

.form-field input{
  background-color: white;
  border: 1px solid grey;
  border-radius: 10px;
  line-height: 2em;
  padding: : 0 0 1em 0;
}

.form-button {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid var(--dark-grey);
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  margin: 1.5em 1em 0.5em 1em;
  padding: 0.5em;
  color: inherit;
  font-weight: bold;
  font-size: 1em;
}

.form-button:hover {
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid var(--light-blue);
  color: var(--light-blue);
}

.form-button:active {
  background-color: white;
  border: 2px solid var(--dark-blue);
  color: var(--dark-blue);
}

.form-button:disabled {
  border: 2px solid lightgrey;
  color: lightgrey;
}

.form-box a {
  text-decoration: underline;
  font-weight: bolder;
  color: inherit;
}

.form-box a:hover {
  color: var(--light-blue);
}

.radio-select {
  list-style-type: none;
  text-align: left;
  margin: 0 20%;
  font-weight: bold;
}

.checkbox-box {
  text-align: left;
  padding: 0 1em;
}

.checkbox-box .line {
  padding: 0.5em 0;
}

.text-warning {
  font-size: 0.8em;
  font-weight: bold;
  color: var(--red);
}

section {
  text-align: center;
}

.inner-section {
  padding: 1em;
}

#documents .inner-section {
  background-color: var(--green);
}

#documents .inner-section a {
  display: block;
  text-decoration: none;
  padding: 1em;
  color: black;
}

.banner-img {
  width: 100%;
}

.info-box {
  padding: 1em;
  background-color: var(--green);
}

.info-box h2 {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.info-box table td {
  text-align: left;
  padding: 0.5em
}

.sub-box {
  text-align: left;
}

footer {
  text-align: center;
  background-color: lightgrey;
  padding: 1em;
  border-top: 2px solid grey;
  color: white;
}

footer a {
  text-decoration: none;
  color: grey;
  padding: 1em;
}

/* Responsive */

@media screen and (max-width: 900px) {
  .topnav a, .dropdown .dropbtn {
    display: none;
  }
  .topnav a.h-icon {
    float: right;
    display: block;
  }
  .intro {
    height: 40em;
  }
}

@media screen and (max-width: 900px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .h-icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {
    float: none;
    margin: 0;
    padding: 1em 0.5em;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
    background-color: transparent;
    padding: 0;
    margin: 0;
  }
.topnav.responsive .dropdown-content a{
  padding: 1em 1em;
  }

  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
    margin: 0;
    padding: 0;
  }
  .topnav.responsive .dropdown .dropbtn i {
    display: none;
  }
  .topnav.responsive .dropdown .dropbtn span {
    text-align: left;
    color: grey;
    font-size: 1em;
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 500px) {
  header {
    top: 0;
  }
  .intro {
    height: 30em;
    margin-top: 7em;
    padding-top: 0.8em;
  }
  .form-box {
    width: 100%;
    border-radius: 0;
    border-right: none;
    border-left: none;
  }
  .top-offset {
    margin-top: 3em;
  }
  .banner-img {
    margin-top: 7em;
  }

}
