{% extends 'home/base.html' %}
{% load static %}
  {% block content %}
    <section>
      <img class="banner-img" src="{% static 'booking/img/banner_2.jpg' %}" alt="">
      <div class="s-icon">
        <i class="far fa-calendar-alt fa-2x"></i>
      </div>
      <h1 class="section-title">RESERVATION</h1>
      <hr class="separator">
      <div class="options-box">
        <div class="option">
          <h4>Choisissez journée complète ou demi-journée</h4>
          <input id="full-day" type="radio" name="day-option" value="full-day">
          <label for="full-day">Journée</label>
          <input id="half-day" type="radio" name="day-option" value="half-day">
          <label for="half-day">Demi-journée</label>
          <input id="cancel" type="radio" name="day-option" value="cancel">
          <label for="cancel">Annuler</label>
        </div>
      </div>
      {% for calendar, months in calendars.items %}
      <div class="calendar">
        <h2>{{ calendar }}</h2>
        <div class="months">
        {% for month, weekdays in months.items %}
          <div class="month">
            <h3>{{ month }}</h3>
            <div class="weekdays">
            {% for weekday, days in weekdays.items %}
              <div class="weekday">
                <h4>{{ weekday }}</h4>
                {% for day, booking in days.items %}
                <div class="day-box">
                  {% csrf_token %}
                  {% if booking %}
                    {% if booking.validated %}
                    <button class="day" value="{{ day|date:'c' }}" disabled>{{ day|date:'j' }}</button>
                    {% elif booking.whole == True %}
                    <button class="day full-day" value="{{ day|date:'c' }}">{{ day|date:'j' }}</button>
                    {% elif booking.whole == False %}
                    <button class="day half-day" value="{{ day|date:'c' }}">{{ day|date:'j' }}</button>
                    {% endif %}
                  {% else %}
                  <button class="day" value="{{ day|date:'c' }}">{{ day|date:'j' }}</button>
                  {% endif %}
                </div>
                {% endfor %}
              </div>
            {% endfor %}
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
      {% endfor %}
    </section>
    <script type="text/javascript">
      var childId = {{ child.id }}
    </script>
    <script type="text/javascript" src="{% static 'booking/js/scripts.js' %}"></script>
  {% endblock %}
