{% extends 'home/base.html' %}
{% load static %}
  {% block content %}
  <section id="myaccount">
    <img class="banner-img" src="{% static 'registration/img/banner_1.jpg' %}" alt="">
    <div class="s-icon">
      <i class="far fa-user fa-2x"></i>
    </div>
    <h1 class="section-title">MON COMPTE</h1>
    <hr class="separator">
    <div class="info-box bg-lightblue">
      <h2>Utilisateur</h2>
      <table>
        <tr>
          <td>Nom d'utilisateur:</td>
          <td>{{ user.username }}</td>
        </tr>
        <tr>
          <td>E-mail:</td>
          <td>{{ user.email }}</td>
        </tr>
      </table>
      <h2>Famille</h2>
      <table>
        <tr>
          <td>Nom d'usage:</td>
          <td>{{ family.use_name }}</td>
        </tr>
        <tr>
          <td>Adresse:</td>
          <td>{{ family.home_address }}</td>
        </tr>
        <tr>
          <td>Téléphone(domicile):</td>
          <td>{{ family.home_phone }}</td>
        </tr>
        <tr>
          <td>Régime d'appartenance:</td>
          <td>{{ family.plan }}</td>
        </tr>
        <tr>
          <td>Médecin traitant:</td>
          <td>{{ family.doctor }}</td>
        </tr>
      </table>
      <h2>Enfants inscris</h2>
      <table>
        {% for child in children %}
        <tr>
          <td>{{ child.firstname }} {{ child.lastname }}</td>
          <td><a class="form-button" href="{% url 'booking:calendar' child_id=child.id %}">Réservation</a></td>
        </tr>
        {% endfor %}
      </table>
      <div class="box-1">
        <a class="form-button" href="{% url 'registration:regchild_step1' %}"><i class="fas fa-plus"></i> Ajouter un enfant</a>
      </div>
    <h2>Autres personnes autorisées à récupérer les enfants</h2>
    <table>
      {% for person in authorized_persons %}
      <tr>
        <td>{{ person }}</td>
      </tr>
      {% endfor %}
    </table>
    <div class="box-1">
      <a class="form-button" href="{% url 'registration:regperson' %}"><i class="fas fa-plus"></i> Ajouter une personne</a>
    </div>
  </div>
  </section>
  {% endblock %}
