{% extends 'home/base.html' %}
{% load static %}
  {% block content %}
  <section id="myaccount">
    <img class="banner-img" src="{% static 'registration/img/banner_1.jpg' %}" alt="">
    <div class="s-icon">
      <i class="far fa-user fa-2x"></i>
    </div>
    <h1 class="section-title">MON COMPTE</h1>
    <hr class="separator">
    <div class="info-box bg-lightblue">
      <h2>Utilisateur</h2>
      <div class="box-1 rounded-borders">
        <table>
          <tr>
            <td>Nom d'utilisateur:</td>
            <td>{{ user.username }}</td>
          </tr>
          <tr>
            <td>E-mail:</td>
            <td>{{ user.email }}</td>
          </tr>
        </table>
      </div>
      <h2>Famille</h2>
      <div class="box-1 rounded-borders">
        <table>
          <tr>
            <td>Nom d'usage:</td>
            <td>{{ family.use_name }}</td>
          </tr>
          <tr>
            <td>Adresse:</td>
            <td>{{ family.home_address }}</td>
          </tr>
          <tr>
            <td>Téléphone(domicile):</td>
            <td>{{ family.home_phone }}</td>
          </tr>
          <tr>
            <td>Régime d'appartenance:</td>
            <td>{{ family.plan }}</td>
          </tr>
          <tr>
            <td>Médecin traitant:</td>
            <td>{{ family.doctor }}</td>
          </tr>
        </table>
        <div class="box-1">
          <a class="form-button" href="{% url 'registration:modfamily' %}"><i class="fas fa-pencil-alt"></i> Modifier</a>
        </div>
      </div>
      <h2>Enfants inscris</h2>
      <div class="box-1 rounded-borders">
        <table>
        {% csrf_token %}
        {% for child in children %}
        <tr>
          <td>{{ child.firstname }} {{ child.lastname }}</td>
          <td><a class="table-button" href="{% url 'booking:calendar' child_id=child.id %}"><i class="far fa-calendar-plus"></i> Réservation</a></td>
          <td><a class="table-button" href="{% url 'registration:regchild_step1' child_id=child.id %}"><i class="fas fa-pencil-alt"></i> Modifier</a></td>
          <td><button class="table-button child" type="button" onclick="deleteThis(this)" value="{{ child.id }}"><i class="far fa-trash-alt"></i> Suppression</button></td>
        </tr>
        {% endfor %}
      </table>
      <div class="box-1">
        <a class="form-button" href="{% url 'registration:regchild_step1' %}"><i class="fas fa-plus"></i> Ajouter un enfant</a>
      </div>
      </div>
    <h2>Autres personnes autorisées à récupérer les enfants</h2>
    <div class="box-1 rounded-borders">
      <table>
        {% for person in authorized_persons %}
        <tr>
          <td>{{ person.firstname }} {{ person.lastname }}</td>
          <td><button class="table-button adult" type="button" onclick="deleteThis(this)" value="{{ person.id }}"><i class="far fa-trash-alt"></i> Suppression</button></td>
        </tr>
        {% endfor %}
      </table>
      <div class="box-1">
        <a class="form-button" href="{% url 'registration:regperson' %}"><i class="fas fa-plus"></i> Ajouter une personne</a>
      </div>
    </div>
  </div>
  </section>
  <script src="{% static 'registration/js/scripts.js' %}"></script>
  {% endblock %}
