{% extends 'home/base.html' %}
{% load static %}
  {% block content %}
  <div class="bg-fixed">
    <h1 class="section-title top-offset">Créer un compte</h1>
    <div class="form-box">
      <form method="post">
        {% csrf_token %}
        <h2>Informations utilisateur</h2>
        {% include 'registration/form_snippet.html' with form=user_form%}
        <hr class="separator">
        <h2>Informations famille</h2>
        {% include 'registration/form_snippet.html' with form=family_form%}
        <button class="form-button" type="submit">S'inscrire</button>
      </form>
    </div>
  </div>
  {% endblock %}
